*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;


}
body{
    overflow-x: hidden;
    width: 100%;
}


.navbar{
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background: #000;
}
.nav-item{
    width: 35%;
    max-width: 500px;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
}
.nav-item a:hover{
    color: aquamarine;
    text-decoration: underline;
    text-decoration-thickness:2px ;
}
.nav-btn{
    font-size: 1rem;
    font-weight: 550;
    width: 95px;
    height: 35px;
    border-radius: 8px;
    border: 3px solid rgb(9, 165, 131);
    color: aquamarine;
    outline: none;
    background-color: black;
}
.nav-btn:hover{
    background-color: aqua;
    color: white;
    cursor: pointer;
   

}
.nav-btn a{
    text-decoration: none;
    font-style: normal;
    color: rgb(247, 247, 247);
}
#logo{
    color:white;
    font-size: 2rem;
}
#logo span{
    color: aquamarine;
}
#icon{
    display: none;
}
.main-pic{
    width:50%;
    
}
.main-pic img{
    width: 100%;
}



  

.main-content{
    background: #000;
    width: 100%;
    height: calc(100vh - 60px);
   color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.main-text h2{
    font-size: 3rem;
}
.main-text h1{
    font-size: 3.6rem;
}
.main-text{
    font-size: 1rem;
}
.main-text button{
    height: 35px;
    width: 90px;
    border-radius: 5px;
    outline: none;
    border: 2px solid aquamarine;
    background: rgb(12, 237, 245);
    box-shadow: 4px 4px 30px rgb(12, 237, 245) ;
    font-size: 0.9rem;
    font-weight: 550;
}
.main-text button:hover{
    background-color: aquamarine;
    color: white;
    cursor: pointer;
   
}
.main-text a{
    
    text-decoration: none;
    font-style: normal;
    color: rgb(8, 8, 8);

}
/*services section*/
.service{
    padding-top: 20px;
    background: #585656;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.service h1{
    font-size: 3rem;
}
.service h1 span{
    color: rgb(71, 167, 167);
}
.services-items{
    width: 90%;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.row{
    background: #000;
    color: aliceblue;
    width: 30%;
    height: 40%;
    flex-shrink: 0;
    overflow: hidden;
    padding: 22px;
    border-radius: 20px;
    border: 3px solid rgb(10, 182, 194) ;
}
.row h2{
    font-size: 1.2rem;
    font-weight: 600;

}
.row img{
    overflow: hidden;
    height: auto;
    width: 100%;
    margin-bottom: 1.4rem;
    border-radius: 15px;
    
}
   /*About section*/
   .about-section{
    background: #000;
    color: aliceblue;
    width: 100%;
    padding: 5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .about-img{
    width: 50%;
    

   }
   .about-img img{
    width: 100%;
    border: 2px solid white;
    border-radius: 8px;
 }

 .about-us{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
 }
.about-us h1{
    margin-bottom: 3rem;
    font-size: 4rem;
}
.about-us p{
    font-size: 1.2rem;
}
.about-us h3{
    font-size: 1.8rem;
}


/*Review section*/
.Review{
    background: #070707fa;
    color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.review-cards{
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
    
.card{
    background: #242222;
    height: 365px;
    width: 350px;
    margin: 23px 23px 5px 5px;
    border: 3px solid blueviolet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.star{
    color: yellow;
}
.card p{
    margin-left: 18px;
}
.Review h1{
    padding-top: 40px;
}
.profie img {
 height: 130px;
 border-radius: 50%;
 
}
footer{
    width: 100%;
    height: 270px;
    background: #000;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    
}
.footer-icon i{
    font-size: 1.5rem;
    color: #21b8d3;
}
footer p{
    padding-top: 20px;
}











@media only screen and ( max-width: 768px){


    .nav-item{
        
        font-size: 1.3rem;
        font-weight: 600;
        align-items: center;
        height: 100vh;
        width: 45%;
        border-radius: 4px;
        background: #000000;
        position: fixed;
        top: 57px;
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: flex-start;
        gap: 60px;
        transition: right 0.5s ease-in-out;
        
        
    }
    .nav-active{
        right: 0;

    }
  
    #icon{
        display: block;
    }
    #logo{
        font-size: 1.5rem;
    }
    .main-content{
     padding-top: 5rem;
         display: flex;
         height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-text h1{
     font-size: 1.7rem;
    }
    .main-text h2{
        font-size: 1.5rem;

    }
    .main-pic{
        width: 80vw;
    }

     .main-pic img{
    
        position: static;
        
    }
    .row h2{
        font-size: 1rem;
    }
    .row{
        width: 300px;
        padding: 10px;
    }
    .row img{
         height: 100%;
         margin-bottom: 0.8rem;
    }
    .about-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .about-img{
        width: 300px;
        margin-top: 2rem;
    }
    .about-us h1{
        font-size: 2rem;
        margin-left: 1rem;
    }
    
}